body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
    overflow: auto;
    box-sizing: border-box;
}

:root a {
    text-decoration: none;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

header {
    align-items: center;
    background-color: #fff;
}

div {
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

main {
    display: flex;
    justify-content: space-around;;
    margin-top: 20px;
    min-height: 700px;
    margin-bottom: 20px;
}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filter {
    width: 25%;
    padding: 20px;
    background-color: #fff;
}

.filter-content {
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.form-control,
.create-form-input,
.create-form-textarea,
.update-form-input,
.update-form-textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
.form-control:focus,
.create-form-input:focus,
.create-form-textarea:focus,
.update-form-input:focus,
.update-form-textarea:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.form-group {
    margin-bottom: 1rem;
}
  
.form-title {
    margin-bottom: 1rem;
}

.btn {
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
  
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.mypage {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}
  
.mypage h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
  
.mypage p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.user-info {
    margin-right: 20px;
}   
  
.avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.create-form,
.update-form,
.login,
.register,
.avatar-upload {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .create-form-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
} */

/* .create-form-input[type="url"] {
    width: calc(100% - 30px);
} */

.create-form-group,
.update-form-group {
    margin-bottom: 1rem;
}

.create-form-input::placeholder,
.create-form-textarea::placeholder,
.update-form-input::placeholder,
.update-form-textarea::placeholder {
    color: #aaa;
}

.video-list,
.video-detail {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
}

.video-list-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.video-teaser {
    margin-bottom: 15px;
}

.video-views,
.video-bottom {
    margin-top: 2.5px;
}

.video-detail-row {
    margin-bottom: 10px;
}

.video-detail-avatar,
.video-detail-like,
.video-detail-action {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.video-detail-avatar div,
.video-detail-like div,
.video-detail-action :nth-child(n+2) {
    margin-left: 10px;
}

.video-detail-avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.videoplayer {
    width: 100%;
    /* height: 400px; */
    /* background-color: #000; */
}

.video-tags {
    list-style: none;
    padding: 0;
    margin-top: 15px 0;
}

.video-tags li {
    display: inline-block;
}

.video-tags li::after {
    content: ',';
    margin-right: 7.5px;
}

.video-tags li:last-child:after {
    content: '';
    margin-right: 0px;
}

.sidebar {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* メディアクエリを使用して、画面サイズに応じたスタイルを指定する */
@media (max-width: 767px) {
    /* 画面幅が767px以下の場合、サイドバーの幅を100%にする */
    .sidebar {
        width: 100%;
            margin-bottom: 20px;
    }
}

.mt-4 {
    margin-top: 1.5rem;
}

.col-12 {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 992px) {
    .col-lg-12 {
        flex-basis: 75%;
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
}  

@media (min-width: 576px) {
    .col-sm-12 {
        flex-basis: 75%;
        max-width: 75%;
    }
}

@media (min-width: 576px) {
    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
}
/* 
.col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
} */

.video-thumbnail {
    position: relative;
    display: block;
    border-radius: 2px;
    overflow: hidden;
}

.video-thumbnail img {
    width: 100%;
    height: auto;
}