{% extends 'myapp/base.html' %}

{% block content %}
<div class="update-form">
    <h2 class="form-title">Update video "{{ video.title }}"</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="update-form-group">
            <label for="title">Title</label>
            <input type="text" class="update-form-input" id="title" name="title" value="{{ video.title }}" required>
        </div>
        <div class="update-form-group">
            <label for="description">Description</label>
            <textarea id="description" class="update-form-textarea" name="description" rows="5" required>{{ video.description }}</textarea>
        </div>
        <div class="update-form-group">
            <label for="url">URL</label>
            <input type="url" class="update-form-input" id="url" name="url" value="{{ video.url }}">
        </div>
        <div class="update-form-group">
            <label for="video_file">Video File</label>
            <input type="file" id="video_file" name="video_file">
        </div>
        <div class="update-form-group">
            <label for="tags" >Tags</label>
            <input type="text" class="update-form-input" id="tags" name="tags" value="{{ video.tags.all|join:', ' }}" placeholder="tag1, tag2, tag3">
        </div>
        <button type="submit" class="btn btn-primary">Update Video</button>
    </form>
</div>
{% endblock %}