{% extends "myapp/base.html" %}

{% block content %}
<div class="video-detail">
    <div class="col-12">
        <div class="videoplayer">
            <video width=100% controls>
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div>
            <h1>{{ video.title }}</h1>
        </div>
        <!-- <div>
            <a href="/myapp/videos/{{ video.id }}/like/">Like</a>
            <a href="/myapp/videos/{{ video.id }}/dislike/">Dislike</a>
        </div> -->
        <!-- <div>
            <span>Likes: {{ video.likes }}</span>
            <span>Dislikes: {{ video.dislikes }}</span>
        </div> -->
        <!-- <div>
            <span>Created by: {{ video.user.username }}</span>
        </div> -->
        <!-- <div>
            <span>Created at: {{ video.created_at }}</span>
        </div> -->
        <!-- <div>
            <span>Views: {{ video.views }}</span>
        </div> -->
        <!-- <div>
            <span>Comments: {{ video.comments }}</span>
        </div> -->
        <div>
            <div>{{ video.description }}</div>
        </div>
        <div class="mt-4">
            <ul class="video-tags">
                {% for tag in video.tags.all %}
                    <li><a href="/myapp/videos/?tag={{ tag.name }}">{{ tag.name }}</a></li>
                {% empty %}
                    <li>No tags found.</li>
                {% endfor %}
            </ul>
        </div>
        <p>Likes: {{ video.likes.count }}</p>
        {% if user.is_authenticated %}
            {% if user in video.likes.all %}
            <form method="POST" action="{% url 'unlike_video' %}">
                {% csrf_token %}
                <input type="hidden" name="video_id" value="{{ video.id }}">
                <input type="submit" value="Unlike">
            </form>
            {% else %}
            <form method="POST" action="{% url 'like_video' %}">
                {% csrf_token %}
                <input type="hidden" name="video_id" value="{{ video.id }}">
                <input type="submit" value="Like">
            </form>
            {% endif %}
        {% else %}
            <p>Please log in to like this video.</p>
        {% endif %}
    </div>
    <div class="col-3">
        <div class="sidebar">
            <h3>Like</h3>
            {% for user in video.likes.all %}
                <p>{{ user.username }}</p>
            {% empty %}
                <p>No likes found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}